* {
    margin: 0px;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.arena {
    width: 95%;
    height: 90%;
    background-color: white;
    border: black 4px solid;
    position: relative;
}

.square {
    height: 100px;
    width: 100px;
    position: absolute;
    box-sizing: border-box;
}

.explode {
    width: 300px;
    position: absolute;
}

.weapon-red-left {
    border-left: 20px solid orange;
}

.weapon-red-up {
    border-top: 20px solid orange;
}

.weapon-red-right {
    border-right: 20px solid orange;
}

.weapon-red-down {
    border-bottom: 20px solid orange;
}

.weapon-blue-left {
    border-left: 20px solid burlywood;
}

.weapon-blue-up {
    border-top: 20px solid burlywood;
}

.weapon-blue-right {
    border-right: 20px solid burlywood;
}

.weapon-blue-down {
    border-bottom: 20px solid burlywood;
}

.winning-message {
    font-family: sans-serif;
}

.winning-message-parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 500;
}