* {
    margin: 0px;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.arena {
    width: 95%;
    height: 90%;
    background-color: white;
    border: black 4px solid;
    position: relative;
}

.square {
    height: 100px;
    width: 100px;
    position: absolute;
    box-sizing: border-box;
}

.weapon-left {
    border-left: 20px solid orange;
}

.weapon-up {
    border-top: 20px solid orange;
}

.weapon-right {
    border-right: 20px solid orange;
}

.weapon-down {
    border-bottom: 20px solid orange;
}